
@{
    ViewBag.Title = "AdminSupport";
}

<h2>Chat</h2>
<div class="container">
    <input type="text" id="message" />
    <input type="button" id="sendmessage" value="Send" />
    <input type="button" id="sendmessagetarget" value="Send" />

    <input type="button" id="registeragent" value="Send" />


    <input type="hidden" id="displayname" />
    <ul id="discussion"></ul>
</div>

@section scripts {

    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="http://localhost:8090/signalr/hubs"></script>

    <script>
        var targetValue = '';

        $(function () {

            $.connection.hub.url = "http://localhost:8090/signalr";

            var chat = $.connection.chatHub;


            chat.client.addNewMessageToPage = function (name, message) {
                // Add the message to the page.
                $('#discussion').append('<li><strong>' + htmlEncode(name)
                    + '</strong>: ' + htmlEncode(message) + '</li>');
            };

            $('#displayname').val(prompt('Enter your name:', ''));
            $('#message').focus();

            $.connection.hub.start().done(function () {

                console.log(chat);
                console.log($.connection);


            });

            $('#sendmessage').click(function () {
                chat.server.send($('#displayname').val(), $('#message').val());
                $('#message').val('').focus();
            });

            $('#registeragent').click(function () {
                chat.server.registerAgent($('#displayname').val());
                $('#message').val('').focus();
            });

            registeragent
        });

        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }
    </script>
}

