
@{
    ViewBag.Title = "AdminSupport";
}

<h2>Chat</h2>
<input type="hidden" id="displayname" />

<div>
    <input type="button" id="registerAgent" value="Start" />
    <input type="button" id="pauseAgent" value="Pause" />
</div>

<br />

<div id="chats">
</div>

<div id="toClone" class="container" style="visibility: hidden;">
    <label class="clientID"></label>
    <input type="text" class="message" />
    <input type="button" class="sendmessagetarget" value="Send" />
    <ul class="discussion"></ul>
</div>


@section scripts {
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="http://localhost:8090/signalr/hubs"></script>
    <script>
        var targetValue = '';

        $(function () {
            $.connection.hub.url = "http://localhost:8090/signalr";
            var agent = $.connection.agentHub;
            var chat = $.connection.chatHub;

            
            chat.client.addNewMessageToPage = function (name, message, id) {
                $('#' + id).find('.discussion').append('<li><strong>' + htmlEncode(name)
                    + '</strong>: ' + htmlEncode(message) + '</li>');
            };

            chat.client.startChat = function (id) {
                var cloned = $("#toClone").clone();
                cloned.css("visibility", "visible");
                cloned.prop('id', id);
                cloned.find('.clientID').text(id);

                cloned.find('.sendmessagetarget').click(function () {
                    var clientID = $(this).parent().prop('id');
                    chat.server.sendMessageToClient(clientID, $('#displayname').val(), cloned.find('.message').val());
                    $('#message').val('').focus();
                });

                cloned.appendTo("#chats");
            };

            $('#displayname').val(prompt('Enter your name:', ''));
            $('#message').focus();

            $.connection.hub.start().done(function () {
                agent.server.startAgent($('#displayname').val(), true);

                $('#registerAgent').click(function () {
                    console.log('staragent');
                    agent.server.startAgent($('#displayname').val(), false);
                    $('#message').val('').focus();
                });

                $('#pauseAgent').click(function () {
                    agent.server.pauseAgent();
                    $('#message').val('').focus();
                });
            });
        });

        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }
    </script>
}

